// Card Generic
.card {
  background: $color-white;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0,0,0,0.05);
  width: 320px;
  @media (min-width: $mq-tablet) {
    width: 480px;
  }
}
.card--image {
  background: $color-beige;
  img {
    width: 100%;
  }
}
.card--tagset {
  border-bottom: 1px solid $color-beige;
  display: flex;
  gap: 0 $space-x1;
  margin: 0;
  padding: 0 0 $space-x1;
  @media (min-width: $mq-tablet) {
    gap: 0 $space-x2;
  }
}
.card--tag {
  @extend .subheader;
  margin: 0;
  text-transform: capitalize;
}
.card--title {
  margin: 0 0 $space-x1;
}

// Card Case
.card-case {
  padding: $space-x2;

  @media (min-width: $mq-tablet) {
    width: 720px;
  }

  .card--image {
    border-radius: 2px;
    height: 200px;
    margin: 0 0 $space-x2;
    overflow: hidden;
    width: 100%;
    @media (min-width: $mq-tablet) {
      height: 420px;
    }
    img {
      width: 100%;
    }
  }
  .card--tagset {
    margin: 0 $space-x1 $space-x1;
  }
  .card--content {
    margin: 0 $space-x1 $space-x1;
  }
}

.card-case-minimal {
  align-items: flex-end;
  align-content: flex-end;
  background: $color-white;
  border-radius: 16px;
  box-shadow: 0 0 0;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  height: 100%;
  width: 240px;
  position: relative;
  @media (min-width: $mq-tablet) {
    width: 420px;
  }
  @media (min-width: $mq-laptop) {
    width: 660px;
    &:hover {
      .card--image img {
        @include translate(-1%,0);
      }
    }
  }
  @media (min-width: $mq-desktop) {
    width: 720px;
  }
  .card--image {
    background: darken($color-white,1%);
    bottom: 0;
    display: flex;
    height: 100%;
    left: 0;
    justify-content: center;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
    @media (min-width: $mq-laptop) {
      justify-content: flex-start;
      background: none;
    }
    img {
      @include translate(60px,0);
      @include transition;
      height: 100%;
      width: auto;
      @media (min-width: $mq-laptop) {
        bottom: 0;
        position: absolute;
        height: 100%;
        @include translate(0,0);
        width: auto;
      }
      @media (min-width: $mq-desktop) {
        @include translate(0,0);
      }
    }
  }
  .card--tagset {
    border-bottom: 1px solid $color-black;
    display: none;
    margin: $space-x4 $space-x4 0 $space-x4;
    z-index: 2;
    flex-wrap: wrap;
    
    @media (min-width: $mq-laptop) {
      display: flex;
      margin: $space-x4 $space-x4 0 $space-x4;
      width: 50%;
    }
  }
  .card--tag {
    color: $color-black;
    // width: 100%;
    @media (min-width: $mq-laptop) {
      width: auto;
    }
  }
  .card--content {
    height: 68%;
    margin: $space-x1;
    position: relative;
    width: 100%;
    z-index: 2; 
    @media (min-width: $mq-laptop) {
      display: block;
      height: auto;
      margin: $space-x4;
      margin-top: $space-x2;
      width: 50%;
    }
  }
  .card--title, .card--paragraph {
    display: none;
    @media (min-width: $mq-laptop) {
      display: block;
    }
  }
  .card--link {
    @include rotate(-90);
    transform-origin: top left;
    display: inline-block;
    position: absolute;
    @media (min-width: $mq-laptop) {
      @include rotate(0);
      display: inline-block;
      position: relative;
    }
  }
}
.card-case-minimal-gray {
  @extend .card-case-minimal;
  background: $color-gray;
  height: 95vh;
}


// Card Carousel
.card-carousel {
  min-height: 330px;
  overflow-x: scroll;
  position: relative;
  width: 100vw;
  margin-left: -2rem;
  padding-left: 2rem;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  @media (min-width: $mq-laptop) {
    margin: 0;
    padding: 0;
    width: 100%;
    z-index: 0;
  }
}
.card-carousel::-webkit-scrollbar {
  display: none;
}
.card-carousel--track {
  display: flex;
  gap: 0 $space-x4;
  height: 100%;
  padding: 0 $space-x2 0 0;
  position: absolute;
  @media (min-width: $mq-laptop) {
    padding: 0 $space-x4 0 0;
    gap: 0 $space-x4;
    height: 100%;
  }
}
.card-carousel-cases {
  height: 460px;
  @media (min-width: $mq-tablet) {
    height: 600px;
  }
}