.cta-bordered {
  border: 1px solid $color-black;
  border-radius: 16px;
  padding: $space-x4;
  @media (min-width: $mq-laptop) {
    padding: $space-x8;
  }

  &:hover {
    background: $color-black;
    .block-content-title {
      color: $color-beige;
    }
    .block-content-paragraph {
      color: $color-beige;
    }
    .block-content-link {
      color: $color-red;
      &:hover {
        color: lighten($color-red,10%);
      }
    }
  }
  .block-content {
    padding: 0;
  }
}