.footer {
  @extend .grid;
  padding: $space-x2;
  margin-bottom: $space-x8;
  @media (min-width: $mq-laptop) {
    padding: $space-x4 0;
    margin: 0;
  }
  .subheader {
    @extend .t-12;
  }
}
.footer-content {
  @extend .t-12;
}