/****
  Header
****/

  .header {
    @extend .grid;
    padding: $space-x8 $space-x2 $space-x2;
    @media (min-width: $mq-laptop) {
      padding: $space-x8 0;
    }
    margin: 0;
  }
  .header-logo {
    height: 58px;
    margin: 0;
    position: relative;
    width: 48px;
    z-index: 1000;
    @include transition;
    @include scale(1);

    animation-duration: 3s;
    // animation-name: logoBreathe;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    &:hover {
      @include scale(0.95);
    }
    @media (min-width: $mq-laptop) {
      left: $space-x4;
      position: fixed;
      top: $space-x8;
    }
    a {
      display: flex;
      align-items: center;
      border: 0;
      height: 100%;
      text-decoration: none;
      width: 100%;
    }
    img {
      width: 100%;
      height: auto;
    }
  }
  @keyframes logoBreathe {
    from {
      @include scale(1);
    }
  
    to {
      @include scale(0.95);
    }
  }
  .header-content {
    margin: $space-x4 0 0;
    @media (min-width: $mq-laptop) {
      display: block;
      margin-top: 0;
    }
  }