/****
  Header
****/

  .header {
    position: fixed;
    top: $space-x2;
    left: $space-x2;
    z-index: 1000;
    a {
      color: $color-black;
      @extend .t-36;
      letter-spacing: -0.15rem;
      text-decoration: none;
    }
  }