.block-hero {
  padding-top: $space-x8;
  padding-bottom: $space-x1;
  @media (min-width: $mq-laptop) {
    padding-bottom: $space-x8;
  }
  .block-content {
    & > * {
      opacity: 0;
    }
  }
  .block-header {
    @include font-size(36);
    line-height: 1.2;
    margin: 0 0 $space-x4;
    @media (min-width: $mq-tablet) {
      @include font-size(64);
      line-height: 1.1;
    }
    @media (min-width: $mq-desktop) {
      @include font-size(96);
    }
  }
}