.block-hero {
  padding-top: $space-x8;
  padding-bottom: $space-x8;
  .block-content {
  }
  .block-header {
    @include font-size(36);
    line-height: 1.2;
    margin: 0;
    @media (min-width: $mq-tablet) {
      @include font-size(64);
      line-height: 1.1;
    }
    @media (min-width: $mq-desktop) {
      @include font-size(96);
    }
  }
}