.list-bordered {
  list-style: none;
  margin: 0;
  padding: 0;
  & > li {
    border-bottom: 1px solid $color-black;
    padding: $space-x2 0;
    @media (min-width: $mq-tv) {
      padding: $space-x4 0;
    }
    &:last-child {
      border-bottom: 0;
    }
  }
}

.list-item-columns {
  list-style: none;
  margin: 0;
  padding: 0;
  @extend .grid;
  grid-gap: $space-x;
  li {
    position: relative;
  }
  .status {
    float: right;
    margin: 0;
    @media (min-width: $mq-tablet) {
      // margin: 0 0 1.2rem 0;
    }
  }
}

.resume-list {
  a {
    font-weight: $fw-m;
    border-bottom: 1px solid $color-black;
  }
}