.nav {
  display: flex;
  gap: $space-x2;
  a {
    border: 0;
    text-decoration: none;
  }
}
.nav-item {
  align-items: center;
  display: flex;
  gap: $space-x;
}
.nav-horz {
  flex-wrap: nowrap;
}