.nav {
  display: flex;
  @supports (display: flex) {
    display: flex;
    gap: $space-x4;
  }
  a {
    border: 0;
    text-decoration: none;
  }
}
.nav-item {
  align-items: center;
  display: flex;
  gap: $space-x;
  margin-right: $space-x4;
  @supports (display: flex) {
    margin-right: 0;
  }
  span {
    margin-right: $space-x;
    @supports (display: flex) {
      margin-right: 0;
    }
  }
}
.nav-horz {
  flex-wrap: nowrap;
}