.nav {
  display: flex;
  margin-right: $space-x4;
  @supports (display: flex) {
    display: flex;
    gap: $space-x4;
  }
  a {
    border: 0;
    text-decoration: none;
  }
}
.nav-item {
  align-items: center;
  display: flex;
  gap: $space-x;
}
.nav-horz {
  flex-wrap: nowrap;
}