
main {
  @extend .grid-wrap;
}

.block {
  padding: $space-x8 $space-x2;
  @extend .grid;
  margin: 0;
  @media (min-width: $mq-laptop) {
    padding: $space-x16 0;
  }
}

.block-section {
  // Header
  .block-header {
    border-bottom: 1px solid $color-black;
    @extend .grid;
    padding-bottom: $space-x4;
    margin-bottom: $space-x2;
    @media (min-width: $mq-tablet) {
      padding-bottom: $space-x8;
      margin-bottom: $space-x4;
    }
    // Header Content
    .block-header-title {
      @extend .t-24;
      margin: 0;
    }
  }
  .block-content {
    padding: $space-x2 0;
    @media (min-width: $mq-tablet) {
      padding: $space-x4 0;
    }
    // @extend .g-4-12;
    &:last-child {
      padding-bottom: 0;
    }
  }
}
.block-portfolio {
  align-items: center;
  background: $color-white;
  border-radius: 2px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.05);
  display: flex;
  justify-content: center;
  margin: 0;
  padding: $space-x8 $space-x2;
  @media (min-width: $mq-laptop) {
    border-radius: 4px;
    margin: $space-x4;
    padding: $space-x16 $space-x4;
  }
  .block-portfolio-img {
    border-radius: 4px;
    box-shadow: 0 4px 4px rgba(0,0,0,0.05);
    width: 80%;
    @media (min-width: $mq-laptop) {
      border-radius: 8px;
      width: 62%;
    }
  }
}