
main {
  @extend .grid-wrap;
}

.block {
  padding: $space-x8 $space-x2;
  @extend .grid;
  margin: 0;
  @media (min-width: $mq-laptop) {
    padding: $space-x8 0;
  }
}

.block-section {
  // Header
  .block-header {
    border-bottom: 1px solid $color-black;
    @extend .grid;
    padding-bottom: $space-x4;
    // margin-bottom: $space-x2;
    @media (min-width: $mq-tablet) {
      padding-bottom: $space-x8;
      // margin-bottom: $space-x4;
    }
    // Header Content
    .block-header-title {
      @extend .t-24;
      margin: 0;
    }
  }
  .block-content {
    padding: $space-x2 0;
    @media (min-width: $mq-tablet) {
      padding: $space-x4 0;
    }
    // @extend .g-4-12;
    &:last-child {
      padding-bottom: 0;
    }
  }
  .block-content-header {
    margin: 0 0 $space-x4 0;
    h1, h2, h3 {
      margin: 0;
    }
  }
}
.block-portfolio {
  align-items: center;
  background: $color-white;
  border-radius: 16px;
  display: flex;
  justify-content: center;
  margin: 0 0 $space-x2;
  padding: $space-x4 $space-x2;
  position: relative;
  @media (min-width: $mq-laptop) {
    border-radius: 16px;
    margin: $space-x4;
    padding: $space-x8 $space-x4;
  }
  .block-portfolio-img {
    border-radius: 4px;
    box-shadow: 0 4px 4px rgba(0,0,0,0.05);
    width: 80%;
    @media (min-width: $mq-laptop) {
      // border-radius: 4px;
      width: 62%;
    }
  }
  .block-portfolio-img-large {
    width: 100%;
    @media (min-width: $mq-laptop) {
      width: 100%;
    }
  }
  .block-portfolio-img-caption {
    position: absolute;
    right: 0;
    bottom: -30px;
  }
}
.block-portfolio-mobile-two {
  position: relative;
  flex-direction: column;
  gap: $space-x4;
  padding: $space-x2 $space-x2;
  @include transition;
  @media (min-width: $mq-phonexl) {
    flex-wrap: wrap;
    flex-direction: row;
    gap: 15%;
    max-height: 100vh;
    padding: $space-x8 $space-x4;
  }
  @media (min-width: $mq-tablet) {
    gap: 30%;
  }
  &:before {
      content: "";
      height: 2px;
      width: 100%;
      background: $color-beige;
      @include vertical-center;
      display: block;
    @media (min-width: $mq-phonexl) {
      content: "";
      height: 100%;
      width: 2px;
      @include horizontal-center;
      top: 0;
    }
  }
  .block-portfolio-img {
    height: auto;
    width: 100%;
    @media (min-width: $mq-phonexl) {
      height: 100%;
      width: auto;
    }
  }
}