
main {
  @extend .grid-wrap;
}

.block {
  padding: $space-x8 $space-x2;
  @extend .grid;
  margin: 0;
  @media (min-width: $mq-laptop) {
    padding: $space-x16 0;
  }
}

.block-section {
  // Header
  .block-header {
    border-bottom: 1px solid $color-black;
    @extend .grid;
    padding-bottom: $space-x4;
    margin-bottom: $space-x2;
    @media (min-width: $mq-tablet) {
      padding-bottom: $space-x8;
      margin-bottom: $space-x4;
    }
    // Header Content
    .block-header-title {
      @extend .t-24;
      margin: 0;
    }
  }
  .block-content {
    padding: $space-x2 0;
    @media (min-width: $mq-tablet) {
      padding: $space-x4 0;
    }
    // @extend .g-4-12;
    &:last-child {
      padding-bottom: 0;
    }
  }
}