$col: 12;
$gridGap: 2rem;

.grid-wrap {
  // padding: $gridGap;
}

.grid {
  display: grid;
  grid-template-columns: repeat($col, 1fr);
  grid-gap: $gridGap;
}

.g-m-50s {grid-column: 1/6}
.g-m-50e {grid-column: 7/13}
.g-m-100 {grid-column: 1/13}

.g-m-1-13 {grid-column: 1/13}
.g-m-1-12 {grid-column: 1/12}
.g-m-1-11 {grid-column: 1/11}
.g-m-1-10 {grid-column: 1/10}
.g-m-1-9  {grid-column: 1/9}
.g-m-1-8  {grid-column: 1/8}
.g-m-1-7  {grid-column: 1/7}
.g-m-1-6  {grid-column: 1/6}
.g-m-1-5  {grid-column: 1/5}
.g-m-1-4  {grid-column: 1/4}
.g-m-1-3  {grid-column: 1/3}
.g-m-1-2  {grid-column: 1/2}
.g-m-2-13 {grid-column: 2/13}
.g-m-2-12 {grid-column: 2/12}
.g-m-2-11 {grid-column: 2/11}
.g-m-2-10 {grid-column: 2/10}
.g-m-2-9  {grid-column: 2/9}
.g-m-2-8  {grid-column: 2/8}
.g-m-2-7  {grid-column: 2/7}
.g-m-2-6  {grid-column: 2/6}
.g-m-2-5  {grid-column: 2/5}
.g-m-2-4  {grid-column: 2/4}
.g-m-2-3  {grid-column: 2/3}
.g-m-3-13 {grid-column: 3/13}
.g-m-3-12 {grid-column: 3/12}
.g-m-3-11 {grid-column: 3/11}
.g-m-3-10 {grid-column: 3/10}
.g-m-3-9  {grid-column: 3/9}
.g-m-3-8  {grid-column: 3/8}
.g-m-3-7  {grid-column: 3/7}
.g-m-3-6  {grid-column: 3/6}
.g-m-3-5  {grid-column: 3/5}
.g-m-3-4  {grid-column: 3/4}
.g-m-4-13 {grid-column: 4/13}
.g-m-4-12 {grid-column: 4/12}
.g-m-4-11 {grid-column: 4/11}
.g-m-4-10 {grid-column: 4/10}
.g-m-4-9  {grid-column: 4/9}
.g-m-4-8  {grid-column: 4/8}
.g-m-4-7  {grid-column: 4/7}
.g-m-4-6  {grid-column: 4/6}
.g-m-4-5  {grid-column: 4/5}
.g-m-5-13 {grid-column: 5/13}
.g-m-5-12 {grid-column: 5/12}
.g-m-5-11 {grid-column: 5/11}
.g-m-5-10 {grid-column: 5/10}
.g-m-5-9  {grid-column: 5/9}
.g-m-5-8  {grid-column: 5/8}
.g-m-5-7  {grid-column: 5/7}
.g-m-5-6  {grid-column: 5/6}
.g-m-6-13 {grid-column: 6/13}
.g-m-6-12 {grid-column: 6/12}
.g-m-6-11 {grid-column: 6/11}
.g-m-6-10 {grid-column: 6/10}
.g-m-6-9  {grid-column: 6/9}
.g-m-6-8  {grid-column: 6/8}
.g-m-6-7  {grid-column: 6/7}
.g-m-7-13 {grid-column: 7/13}
.g-m-7-12 {grid-column: 7/12}
.g-m-7-11 {grid-column: 7/11}
.g-m-7-10 {grid-column: 7/10}
.g-m-7-9  {grid-column: 7/9}
.g-m-7-8  {grid-column: 7/8}
.g-m-8-13 {grid-column: 8/13}
.g-m-8-12 {grid-column: 8/12}
.g-m-8-11 {grid-column: 8/11}
.g-m-8-10 {grid-column: 8/10}
.g-m-8-9  {grid-column: 8/9}
.g-m-9-13 {grid-column: 9/13}
.g-m-9-12 {grid-column: 9/12}
.g-m-9-11 {grid-column: 9/11}
.g-m-9-10 {grid-column: 9/10}
.g-m-10-13 {grid-column: 10/13}
.g-m-10-12 {grid-column: 10/12}
.g-m-10-11 {grid-column: 10/11}
.g-m-11-13 {grid-column: 11/13}
.g-m-11-12 {grid-column: 11/12}
.g-m-12-13 {grid-column: 12/13}
@media (min-width: $mq-tablet) {
  .g-t-1-13 {grid-column: 1/13}
  .g-t-1-12 {grid-column: 1/12}
  .g-t-1-11 {grid-column: 1/11}
  .g-t-1-10 {grid-column: 1/10}
  .g-t-1-9  {grid-column: 1/9}
  .g-t-1-8  {grid-column: 1/8}
  .g-t-1-7  {grid-column: 1/7}
  .g-t-1-6  {grid-column: 1/6}
  .g-t-1-5  {grid-column: 1/5}
  .g-t-1-4  {grid-column: 1/4}
  .g-t-1-3  {grid-column: 1/3}
  .g-t-1-2  {grid-column: 1/2}
  .g-t-2-13 {grid-column: 2/13}
  .g-t-2-12 {grid-column: 2/12}
  .g-t-2-11 {grid-column: 2/11}
  .g-t-2-10 {grid-column: 2/10}
  .g-t-2-9  {grid-column: 2/9}
  .g-t-2-8  {grid-column: 2/8}
  .g-t-2-7  {grid-column: 2/7}
  .g-t-2-6  {grid-column: 2/6}
  .g-t-2-5  {grid-column: 2/5}
  .g-t-2-4  {grid-column: 2/4}
  .g-t-2-3  {grid-column: 2/3}
  .g-t-3-13 {grid-column: 3/13}
  .g-t-3-12 {grid-column: 3/12}
  .g-t-3-11 {grid-column: 3/11}
  .g-t-3-10 {grid-column: 3/10}
  .g-t-3-9  {grid-column: 3/9}
  .g-t-3-8  {grid-column: 3/8}
  .g-t-3-7  {grid-column: 3/7}
  .g-t-3-6  {grid-column: 3/6}
  .g-t-3-5  {grid-column: 3/5}
  .g-t-3-4  {grid-column: 3/4}
  .g-t-4-13 {grid-column: 4/13}
  .g-t-4-12 {grid-column: 4/12}
  .g-t-4-11 {grid-column: 4/11}
  .g-t-4-10 {grid-column: 4/10}
  .g-t-4-9  {grid-column: 4/9}
  .g-t-4-8  {grid-column: 4/8}
  .g-t-4-7  {grid-column: 4/7}
  .g-t-4-6  {grid-column: 4/6}
  .g-t-4-5  {grid-column: 4/5}
  .g-t-5-13 {grid-column: 5/13}
  .g-t-5-12 {grid-column: 5/12}
  .g-t-5-11 {grid-column: 5/11}
  .g-t-5-10 {grid-column: 5/10}
  .g-t-5-9  {grid-column: 5/9}
  .g-t-5-8  {grid-column: 5/8}
  .g-t-5-7  {grid-column: 5/7}
  .g-t-5-6  {grid-column: 5/6}
  .g-t-6-13 {grid-column: 6/13}
  .g-t-6-12 {grid-column: 6/12}
  .g-t-6-11 {grid-column: 6/11}
  .g-t-6-10 {grid-column: 6/10}
  .g-t-6-9  {grid-column: 6/9}
  .g-t-6-8  {grid-column: 6/8}
  .g-t-6-7  {grid-column: 6/7}
  .g-t-7-13 {grid-column: 7/13}
  .g-t-7-12 {grid-column: 7/12}
  .g-t-7-11 {grid-column: 7/11}
  .g-t-7-10 {grid-column: 7/10}
  .g-t-7-9  {grid-column: 7/9}
  .g-t-7-8  {grid-column: 7/8}
  .g-t-8-13 {grid-column: 8/13}
  .g-t-8-12 {grid-column: 8/12}
  .g-t-8-11 {grid-column: 8/11}
  .g-t-8-10 {grid-column: 8/10}
  .g-t-8-9  {grid-column: 8/9}
  .g-t-9-13 {grid-column: 9/13}
  .g-t-9-12 {grid-column: 9/12}
  .g-t-9-11 {grid-column: 9/11}
  .g-t-9-10 {grid-column: 9/10}
  .g-t-10-13 {grid-column: 10/13}
  .g-t-10-12 {grid-column: 10/12}
  .g-t-10-11 {grid-column: 10/11}
  .g-t-11-13 {grid-column: 11/13}
  .g-t-11-12 {grid-column: 11/12}
  .g-t-12-13 {grid-column: 12/13}
}
@media (min-width: $mq-laptop) {
  .g-l-1-13 {grid-column: 1/13}
  .g-l-1-12 {grid-column: 1/12}
  .g-l-1-11 {grid-column: 1/11}
  .g-l-1-10 {grid-column: 1/10}
  .g-l-1-9  {grid-column: 1/9}
  .g-l-1-8  {grid-column: 1/8}
  .g-l-1-7  {grid-column: 1/7}
  .g-l-1-6  {grid-column: 1/6}
  .g-l-1-5  {grid-column: 1/5}
  .g-l-1-4  {grid-column: 1/4}
  .g-l-1-3  {grid-column: 1/3}
  .g-l-1-2  {grid-column: 1/2}
  .g-l-2-13 {grid-column: 2/13}
  .g-l-2-12 {grid-column: 2/12}
  .g-l-2-11 {grid-column: 2/11}
  .g-l-2-10 {grid-column: 2/10}
  .g-l-2-9  {grid-column: 2/9}
  .g-l-2-8  {grid-column: 2/8}
  .g-l-2-7  {grid-column: 2/7}
  .g-l-2-6  {grid-column: 2/6}
  .g-l-2-5  {grid-column: 2/5}
  .g-l-2-4  {grid-column: 2/4}
  .g-l-2-3  {grid-column: 2/3}
  .g-l-3-13 {grid-column: 3/13}
  .g-l-3-12 {grid-column: 3/12}
  .g-l-3-11 {grid-column: 3/11}
  .g-l-3-10 {grid-column: 3/10}
  .g-l-3-9  {grid-column: 3/9}
  .g-l-3-8  {grid-column: 3/8}
  .g-l-3-7  {grid-column: 3/7}
  .g-l-3-6  {grid-column: 3/6}
  .g-l-3-5  {grid-column: 3/5}
  .g-l-3-4  {grid-column: 3/4}
  .g-l-4-13 {grid-column: 4/13}
  .g-l-4-12 {grid-column: 4/12}
  .g-l-4-11 {grid-column: 4/11}
  .g-l-4-10 {grid-column: 4/10}
  .g-l-4-9  {grid-column: 4/9}
  .g-l-4-8  {grid-column: 4/8}
  .g-l-4-7  {grid-column: 4/7}
  .g-l-4-6  {grid-column: 4/6}
  .g-l-4-5  {grid-column: 4/5}
  .g-l-5-13 {grid-column: 5/13}
  .g-l-5-12 {grid-column: 5/12}
  .g-l-5-11 {grid-column: 5/11}
  .g-l-5-10 {grid-column: 5/10}
  .g-l-5-9  {grid-column: 5/9}
  .g-l-5-8  {grid-column: 5/8}
  .g-l-5-7  {grid-column: 5/7}
  .g-l-5-6  {grid-column: 5/6}
  .g-l-6-13 {grid-column: 6/13}
  .g-l-6-12 {grid-column: 6/12}
  .g-l-6-11 {grid-column: 6/11}
  .g-l-6-10 {grid-column: 6/10}
  .g-l-6-9  {grid-column: 6/9}
  .g-l-6-8  {grid-column: 6/8}
  .g-l-6-7  {grid-column: 6/7}
  .g-l-7-13 {grid-column: 7/13}
  .g-l-7-12 {grid-column: 7/12}
  .g-l-7-11 {grid-column: 7/11}
  .g-l-7-10 {grid-column: 7/10}
  .g-l-7-9  {grid-column: 7/9}
  .g-l-7-8  {grid-column: 7/8}
  .g-l-8-13 {grid-column: 8/13}
  .g-l-8-12 {grid-column: 8/12}
  .g-l-8-11 {grid-column: 8/11}
  .g-l-8-10 {grid-column: 8/10}
  .g-l-8-9  {grid-column: 8/9}
  .g-l-9-13 {grid-column: 9/13}
  .g-l-9-12 {grid-column: 9/12}
  .g-l-9-11 {grid-column: 9/11}
  .g-l-9-10 {grid-column: 9/10}
  .g-l-10-13 {grid-column: 10/13}
  .g-l-10-12 {grid-column: 10/12}
  .g-l-10-11 {grid-column: 10/11}
  .g-l-11-13 {grid-column: 11/13}
  .g-l-11-12 {grid-column: 11/12}
  .g-l-12-13 {grid-column: 12/13}
}
@media (min-width: $mq-desktop) {
  .g-1-13 {grid-column: 1/13}
  .g-1-12 {grid-column: 1/12}
  .g-1-11 {grid-column: 1/11}
  .g-1-10 {grid-column: 1/10}
  .g-1-9  {grid-column: 1/9}
  .g-1-8  {grid-column: 1/8}
  .g-1-7  {grid-column: 1/7}
  .g-1-6  {grid-column: 1/6}
  .g-1-5  {grid-column: 1/5}
  .g-1-4  {grid-column: 1/4}
  .g-1-3  {grid-column: 1/3}
  .g-1-2  {grid-column: 1/2}
  .g-2-13 {grid-column: 2/13}
  .g-2-12 {grid-column: 2/12}
  .g-2-11 {grid-column: 2/11}
  .g-2-10 {grid-column: 2/10}
  .g-2-9  {grid-column: 2/9}
  .g-2-8  {grid-column: 2/8}
  .g-2-7  {grid-column: 2/7}
  .g-2-6  {grid-column: 2/6}
  .g-2-5  {grid-column: 2/5}
  .g-2-4  {grid-column: 2/4}
  .g-2-3  {grid-column: 2/3}
  .g-3-13 {grid-column: 3/13}
  .g-3-12 {grid-column: 3/12}
  .g-3-11 {grid-column: 3/11}
  .g-3-10 {grid-column: 3/10}
  .g-3-9  {grid-column: 3/9}
  .g-3-8  {grid-column: 3/8}
  .g-3-7  {grid-column: 3/7}
  .g-3-6  {grid-column: 3/6}
  .g-3-5  {grid-column: 3/5}
  .g-3-4  {grid-column: 3/4}
  .g-4-13 {grid-column: 4/13}
  .g-4-12 {grid-column: 4/12}
  .g-4-11 {grid-column: 4/11}
  .g-4-10 {grid-column: 4/10}
  .g-4-9  {grid-column: 4/9}
  .g-4-8  {grid-column: 4/8}
  .g-4-7  {grid-column: 4/7}
  .g-4-6  {grid-column: 4/6}
  .g-4-5  {grid-column: 4/5}
  .g-5-13 {grid-column: 5/13}
  .g-5-12 {grid-column: 5/12}
  .g-5-11 {grid-column: 5/11}
  .g-5-10 {grid-column: 5/10}
  .g-5-9  {grid-column: 5/9}
  .g-5-8  {grid-column: 5/8}
  .g-5-7  {grid-column: 5/7}
  .g-5-6  {grid-column: 5/6}
  .g-6-13 {grid-column: 6/13}
  .g-6-12 {grid-column: 6/12}
  .g-6-11 {grid-column: 6/11}
  .g-6-10 {grid-column: 6/10}
  .g-6-9  {grid-column: 6/9}
  .g-6-8  {grid-column: 6/8}
  .g-6-7  {grid-column: 6/7}
  .g-7-13 {grid-column: 7/13}
  .g-7-12 {grid-column: 7/12}
  .g-7-11 {grid-column: 7/11}
  .g-7-10 {grid-column: 7/10}
  .g-7-9  {grid-column: 7/9}
  .g-7-8  {grid-column: 7/8}
  .g-8-13 {grid-column: 8/13}
  .g-8-12 {grid-column: 8/12}
  .g-8-11 {grid-column: 8/11}
  .g-8-10 {grid-column: 8/10}
  .g-8-9  {grid-column: 8/9}
  .g-9-13 {grid-column: 9/13}
  .g-9-12 {grid-column: 9/12}
  .g-9-11 {grid-column: 9/11}
  .g-9-10 {grid-column: 9/10}
  .g-10-13 {grid-column: 10/13}
  .g-10-12 {grid-column: 10/12}
  .g-10-11 {grid-column: 10/11}
  .g-11-13 {grid-column: 11/13}
  .g-11-12 {grid-column: 11/12}
  .g-12-13 {grid-column: 12/13}
}



.g-align-items-start {align-items: start;}
.g-align-items-end {align-items: end;}
.g-align-items-center {align-items: center;}
.g-align-items-stretch {align-items: stretch;}
.g-justity-content-start {justify-content: start;}
.g-justity-content-end {justify-content: end;}
.g-justity-content-center {justify-content: center;}
.g-justity-content-stretch {justify-content: stretch;}
.g-justify-self-start {justify-self: start}
.g-justify-self-end {justify-self: end}
.g-justify-self-center {justify-self: center}
.g-justify-self-stretch {justify-self: stretch}